body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #287399;
}

hr {
  border-color: #287399;
  border-width: 3px;
  max-width: 65px;
}

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
}

.btn-xl {
  padding:  1rem 2rem;
}

.btn-primary {
  background-color: #287399;
  border-color: #000000;
}

.btn-primary:hover {
  background-color: #153c4f;
  border-width: 2px;
}